@-webkit-keyframes intro-animation {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes intro-animation {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/*animate*/
.hmodal {
  z-index: 1054;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
/*bg_dark_start*/
.blurBackstage {
  position: fixed;
  inset: 0;
  z-index: 1053;
  width: 100%;
  height: 100%;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
}
.blurBackstage.show {
  opacity: 1;
  visibility: visible;
}
/*bg_dark_start*/

/*right_menu_start*/

.hmodal#rightMenu {
  max-width: 25rem;
  width: 100%;
  inset-inline-start: -100%;
}

.hmodal#rightMenu.showModal {
  inset-inline-start: 0;
  
}

.hmodal#searching {
  top: -100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.hmodal#searching.showModal {
  top: 2.5rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


.hmodal#dialog {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: -100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  
}
.hmodal#dialog.showModal {
  bottom: 2.5rem;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
}


/*tab-box*/
.tab-content__pane {
  display: none;
}
.tab-content__pane.show {
  display: block;
}

/*tab-box*/

/*more-reed-*/
.introduction {
  overflow: hidden;
  box-sizing: border-box;
  transition: height 500ms ease-out;
  position: relative;
}

.view-less {
  display: none;
}
.add-class-view-less {
  display: block;
}
.add-class-introduction-span {
  display: none;
}

/*more-reed-comment*/

/*accardeon*/

.submenuItems {
  display: none;
}
.accordion-menu .dropdownlink i {
  transition: transform 300ms ease-in;
}
.accordion-menu .open .dropdownlink i {
  transform: rotate(-180deg);
  transition: transform 300ms ease-in;
}

/*accardeon*/


/* group-design */
.group-desgin li.group-desgin_after {
  display: flex;
  align-items: center;
}

.group-desgin li.group-desgin_after::after {
  content: '\f104';
  font-family: 'harmony_icon';
  display: inline-block;
  margin: 0 5px;
  vertical-align: bottom;
}

.group-desgin li:last-child.group-desgin_after::after {
  display: none;
}

/* group-design */




.hmodal#shopFilter{
    inset-inline-start: -100%;
    max-width: 35rem;
    width: 100%;
}

.hmodal#shopFilter.showModal{
    inset-inline-start: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}


/* faq */

.h_faq .accordion-menu .open .harmony-icon {
  transform: rotate(-180deg);
  transition: transform 300ms ease-in;
}
/* faq */

.faq_content {
  counter-increment: faq-counter;
}

.number_faq::before {
  content: counter(faq-counter, decimal-leading-zero);
}


