/*top-meu-----ul-class="harmony-menu"                                                                                                 "*/
/*top-horizontal-----ul-class="harmony-menu-horizontal"*/
/*mobil-----nav-class="harmony-nav-menu"*/
/*mobil-----ul-class="harmony-mobile-menu"*/
/*mobil-----ul-class="harmony-mobile-menu-accordion"*/

/*defult-class*/

:root {
  --gap-harmony-menu-li: 0.5rem;
  --angle-down-width: 1rem;
  --top-menu-color-angle-down: #121212;
  --top-menu-color-angle-left: #353b48;
  --font-size: 16px;
  --padding-harmony-menu: 0.5rem;
  --hover-harmony-menu-a: var(--theme-primary);
  --hover-duration: 200ms;
  --hover-color: #ffffff;
  --min-width-harmony-menu-li-ul: 15rem;
  --background-harmony-menu-li-ul: #fff;
  --z-index: 100;
  --color-harmony-menu-a: #252638;
  --color-harmony-menu-li-ul-a: #353b48;

  /*menu_horizontal*/
  --background-menu-horizontal-li-ul: #fff;
  --max-width-menu-horizontal-li-ul: 100%;
  --min-width-menu-horizontal-li-ul: 100%;
  --hover-menu-horizontal-a: var(--theme-primary);
  --after-bg-h-header-a: var(--theme-primary);
  --borderColor-menu-horizontal-a: #dedede;
  --border-width-menu-horizontal-a: 1px;
  --gap-harmony-menu-horizontal: 0.75rem;
  --padding-menu-horizontal-a: 0.5rem;
  --color-menu-horizontal-a: var(--theme-primary);
  --gap-menu-horizontal-li-ul: 0.5rem;
  --menu-horizontal-color-angle-left: #121212;
  --horizontal-font-size: 16px;
  /*menu_horizontal*/

  /*menu_mobil*/
  --menu-mobile-color-angle-down: #121212;
  --menu-mobile-color-angle-left: #121212;
  --border-bottom-width: 1px;
  --border-bottom-style: solid;
  --border-color: #121212;
  --padding-menu-mobile-a: 0.5rem;
  --menu-mobile-a-color: #121212;
  --mobile-menu-a-bg:#eeeeee;
  --mobile-menu-a-hover: #e2e8f0;
  --mobile-hover-color: #fff;
  --mobile-bg-back: #121212;
  --mobile-color-back: #ffff;
  --color-mibile-back-angle-left: #ffff;

  /*menu_mobil*/
}

/*defult-class*/

.harmony-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size:var(--font-size) ;
  /* gap: var(--gap-harmony-menu-li); */
}

.harmony-nav-menu {
  height: 100%;
}

.menu_overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

.harmony_menu_header {
  height: 3.5rem;
}
.harmony_menu_body {
  height: calc(100% - 3.5rem);
}


/* .harmony-menu > li.harmony-menu-li {
  padding: 0.25rem 0;
} */

/* .harmony-menu > li.harmony-menu-li > a {
  color:var(--color-slate-700);
} */
/* .harmony-menu > li.harmony-menu-li:hover > a{
  color:var(--theme-secondary);
} */

.harmony-menu-li {
  position: relative;
}
.harmony-menu-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--padding-harmony-menu);
  font-size: inherit;
}
.harmony-menu-li-ul .harmony-menu-a {
  -webkit-transition-duration: var(--hover-duration);
  -o-transition-duration: var(--hover-duration);
  transition-duration: var(--hover-duration);
  color: var(--color-harmony-menu-li-ul-a);
}
.harmony-menu-li-ul .harmony-menu-a:hover {
  background: var(--hover-harmony-menu-a);
  -webkit-transition-duration: var(--hover-duration);
  -o-transition-duration: var(--hover-duration);
  transition-duration: var(--hover-duration);
  color: var(--hover-color);
}
.harmony-menu-li-ul .harmony-menu-a .angle-left {
  background-color: var(--color-harmony-menu-li-ul-a);
  -webkit-transition-duration: var(--hover-duration);
  -o-transition-duration: var(--hover-duration);
  transition-duration: var(--hover-duration);
}
.harmony-menu-li-ul .harmony-menu-a:hover .angle-left {
  background-color: var(--hover-color);
  -webkit-transition-duration: var(--hover-duration);
  -o-transition-duration: var(--hover-duration);
  transition-duration: var(--hover-duration);
}
.harmony-menu-li-ul {
  position: absolute;
  top: 100%;
  inset-inline-start: 0;
  min-width: var(--min-width-harmony-menu-li-ul);
  background-color: var(--background-harmony-menu-li-ul);
  z-index: var(--z-index);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
li.harmony-menu-li:hover > .harmony-menu-li-ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.harmony-menu-li-ul .harmony-menu-li-ul {
  top: 0;
  inset-inline-start: 100%;
}

/*arrow-icon*/
.angle-down {
  -moz-mask-image: url('arrow-down.svg');
  -webkit-mask-image: url('arrow-down.svg');
  mask-image: url('arrow-down.svg');
}

.angle-left {
  -moz-mask-image: url('arrow-left.svg');
  -webkit-mask-image: url('arrow-left.svg');
  mask-image: url('arrow-left.svg');
}

.angle-left,
.angle-down {
  display: inline-block;
  width: var(--angle-down-width);
  height: var(--angle-down-width);
  color: transparent;
  content: 'Ø¨Ø±Ú¯Ø´Øª';
  -moz-mask-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.harmony-menu .angle-down {
  background-color: var(--top-menu-color-angle-down);
}

.harmony-mobile-menu-accordion .angle-down {
  background-color: var(--menu-mobile-color-angle-down);
}

.harmony-mobile-menu .angle-down {
  background-color: var(--menu-mobile-color-angle-down);
}
.harmony-mobile-menu .angle-left {
  background-color: var(--menu-mobile-color-angle-left);
}
.harmony-mobile-menu .harmony-menu-back .angle-left {
  background-color: var(--color-mibile-back-angle-left);
}

.h-ltr .angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/*arrow-icon*/

/*end_top_menu*/

/*start_top_menu-horizontal*/

.dropdown{
  z-index: 100;
}

.dropdown .dropdown-box {
  position: absolute;
  top: 50px;
  inset-inline-start: 0;
  display: flex;
  width: 100%;
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
  transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
  visibility: hidden;
  opacity: 0;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  z-index: 100;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: var(--horizontal-font-size);
  pointer-events: none;
  
    
}




.dropdown .dropdown-box.show {
  -webkit-transition: visibility 0s linear 0s, opacity 0.2s 0s;
  -o-transition: visibility 0s linear 0s, opacity 0.2s 0s;
  transition: visibility 0s linear 0s, opacity 0.2s 0s;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.dropdown .menu_tab {
  background: #f5f5f5;
  width: 250px;
  scrollbar-width: 8px;
  overflow-y: auto;
  height: 100%;
  direction: ltr;
  border-left: 1px solid #c0c2c5;
  flex-shrink: 0;
}

.dropdown .menu_tab a {
  direction: rtl;
  /* font-size: 0.75rem; */

}



.dropdown .dropdown-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  transform: translateY(-100%);
  height: 30px;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu-horizontal-li-ul-ul .menu-horizontal-li .menu-horizontal-a {
  position: relative;
   transition: transform 500ms ease, opacity 500ms ease;
   padding-inline-start: .75rem!important;
}


.menu-horizontal-li-ul-ul .menu-horizontal-li .menu-horizontal-a::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: .25rem;
  height: 0; 
  background-color: var(--theme-primary);
  border-radius: 20px;
  transform: translateY(-50%) scaleY(0);
  transform-origin: center;  
  transition: transform 500ms ease, opacity 500ms ease;
  opacity: 0;
}

.menu-horizontal-li-ul-ul .menu-horizontal-li .menu-horizontal-a:hover::before {
  opacity: 1;
  height: 100%;
  transform: translateY(-50%) scaleY(1);
}



.body_harmony_menu {
  background: #ffffff;
  overflow-y: auto;
  padding: 0.75rem;
  height: auto;
  scrollbar-color: #c0c2c5 transparent !important; 
  direction: ltr;
  width: 100%;

}

.dropdown .menu_tab ,
.body_harmony_menu {
    max-height: 30rem;
    height: auto;
}

.menu_tab::-webkit-scrollbar,
.body_harmony_menu::-webkit-scrollbar {
  width: 0.25rem;  
  height: 0rem;    
}

.menu_tab::-webkit-scrollbar-thumb,
.body_harmony_menu::-webkit-scrollbar-thumb {
  background-color: #c0c2c5 !important;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.menu_tab::-webkit-scrollbar-track,
.body_harmony_menu::-webkit-scrollbar-track {
  background: transparent; 
}

.menu_tab,
.body_harmony_menu {
  scrollbar-width: thin;             
  scrollbar-color: #c0c2c5 transparent;
}

.harmony-menu-horizontal {
  direction: rtl;
}

.harmony-menu-horizontal .menu-horizontal-li-ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: .75rem;
  row-gap: .75rem;
}

.harmony-menu-horizontal > li.menu-horizontal-li > a {
  color: var(--color-menu-horizontal-a);
}

.menu-horizontal-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--padding-menu-horizontal-a);
  text-wrap: nowrap;
  gap: 0.25rem;
  color: #81858b;
  white-space: nowrap; /* متن در یک خط */
  overflow: hidden; /* جلوگیری از سرریز شدن متن */
  text-overflow: ellipsis;
}

/* .menu-horizontal-a.h-hover-a {
  font-size: 0.75rem;
} */

.menu-horizontal-a.h-header-a {
  font-weight: bold;
  position: relative;
  justify-content: unset;
  color: #121212;
  /* font-size: 0.75rem; */
}

.h-header-a::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  border-radius: 50px;
  height: 50%;
  background-color: var(--after-bg-h-header-a);
}

.h-header-a:hover,
.h-hover-a:hover {
  color: var(--hover-menu-horizontal-a);
}

.menu-horizontal-a.h-header-a .angle-left {
  background-color: var(--menu-horizontal-color-angle-left);
}

.menu-horizontal-a.h-header-a:hover .angle-left {
  background-color: var(--hover-menu-horizontal-a);
}

/*start_top_menu-horizontal*/

/*start_mobile_menu*/
.harmony-mobile-menu {
  height: 100%;
}

.harmony-mobile-menu ul {
  :where(& > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * 1) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.mobile-menu-li-ul li {
  :where(& > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * 1) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.harmony-menu .mobile-menu-li {
  border-bottom-width: var(--border-bottom-width);
  border-bottom-style: var(--border-bottom-style);
  border-color: var(--border-color);
}
.mobile-menu-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--padding-menu-mobile-a);
  font-size: var(--font-size);
  color: var(--menu-mobile-a-color);
}
.harmony-mobile-menu-accordion {
  padding: 0.25rem;
}

.harmony-mobile-menu-accordion > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.harmony-mobile-menu-accordion
  .mobile-menu-li
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.harmony-mobile-menu-accordion a.mobile-menu-a.add_class,
.harmony-mobile-menu-accordion > li > a.mobile-menu-a {
  background: var(--mobile-menu-a-bg);
  border-radius: 0.25rem;
  color: #121212;
}

.mobile-menu-a.add_class span {
  transition: transform 500ms;
}

.mobile-menu-a.add_class.active span {
  transform: rotate(180deg);
}

/*.harmony-mobile-menu-accordion a.mobile-menu-a.add_class{*/
/*    background-color: #9ca3af;*/
/*    border-radius: .25rem;*/
/*}*/

.harmony-mobile-menu .mobile-menu-a:hover {
  background-color: var(--mobile-menu-a-hover);
  /* -webkit-transition-duration: var(--hover-duration);
    -o-transition-duration: var(--hover-duration);
    transition-duration: var(--hover-duration); */
  /* color:var(--mobile-hover-color) ; */
}
/* .harmony-mobile-menu .mobile-menu-a:hover .angle-left{
    background-color: var(--mobile-hover-color);
    -webkit-transition-duration: var(--hover-duration);
    -o-transition-duration: var(--hover-duration);
    transition-duration: var(--hover-duration);
} */

.harmony-mobile-menu .mobile-menu-li-ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  visibility: hidden;
  height: 100%;
}

.harmony-mobile-menu-accordion .mobile-menu-li-ul {
  display: none;
  padding: 0.25rem;
}

.mobile-menu-a.harmony-menu-back {
  background-color: var(--mobile-bg-back);
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  gap: 0.5rem;
  cursor: pointer;
}
.mobile-menu-a:hover.harmony-menu-back {
  background-color: var(--mobile-bg-back);
}

.mobile-menu-a.harmony-menu-back .harmony-menu-back {
  color: var(--mobile-color-back);
}

.mobile-menu-a.harmony-menu-back .angle-left {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.h-ltr .mobile-menu-a.harmony-menu-back .angle-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.harmony-mobile-menu.Harmony-transform .mobile-menu-li-ul.show {
  opacity: 1;
  visibility: visible;
}
.harmony-mobile-menu,
.harmony-mobile-menu .mobile-menu-li-ul {
  -webkit-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}
.harmony-mobile-menu.Harmony-transform,
.mobile-menu-li-ul.show.Harmony-transform {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.dropdown-overlay {
  pointer-events: none;
  transition-duration: 0.2s;
  transform-style: opacity;
  display: none;
}

.dropdown-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  background: #0c0c0c;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  opacity: 0.5;
  z-index: 99;
  display: block;
}


/* /* design */

.harmony-menu > li.harmony-menu-li:hover {
  color: var(--theme-primary);
}

/* 
.harmony-menu.defaul_top_menu > li.harmony-menu-li > a{
  color: #ffffff;
} */

/* design */


/* default */

.default_accordion.harmony-mobile-menu-accordion > li > a.mobile-menu-a{
  color: var(--color-slate-700);
  background-color: var(--color-slate-100);
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}

.default_accordion .mobile-menu-a{
   font-size: 0.75rem;
  line-height: calc(1 / 0.75);
  
}

.default_accordion .mobile-menu-a:hover{
  background-color: #dff2fe;
  color: #1447e6;
  border-radius: .5rem;
}


 :where(.mobile-menu-li-ul > :not(:last-child)) {
    margin-block-end: .25rem
 }

 
.default_accordion .mobile-menu-a.activeLink{
  background-color: #dff2fe;
  color: #1447e6;
  border-radius: .5rem;
}


/* default */