@font-face {
  font-family: 'harmony_icon';
  src: url('../../Font-Icons/Font/harmony_icon.eot?37752713');
  src: url('../../Font-Icons/Font/harmony_icon.eot?37752713#iefix')
      format('embedded-opentype'),
    url('../../Font-Icons/Font/harmony_icon.woff2?37752713') format('woff2'),
    url('../../Font-Icons/Font/harmony_icon.woff?37752713') format('woff'),
    url('../../Font-Icons/Font/harmony_icon.ttf?37752713') format('truetype'),
    url('../../Font-Icons/Font/harmony_icon.svg?37752713#harmony_icon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'harmony_icon';
    src: url('../font/harmony_icon.svg?37752713#harmony_icon') format('svg');
  }
}
*/
i.harmony-icon {
  font-family: 'harmony_icon' !important;
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-flex;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.harmony-icon-ok:before { content: '\e800'; } /* '' */
.harmony-icon-note:before { content: '\e801'; } /* '' */
.harmony-icon-heart:before { content: '\e802'; } /* '' */
.harmony-icon-heart-empty:before { content: '\e803'; } /* '' */
.harmony-icon-star:before { content: '\e804'; } /* '' */
.harmony-icon-mail:before { content: '\e805'; } /* '' */
.harmony-icon-search:before { content: '\e806'; } /* '' */
.harmony-icon-star-empty:before { content: '\e807'; } /* '' */
.harmony-icon-star-half:before { content: '\e808'; } /* '' */
.harmony-icon-videocam:before { content: '\e809'; } /* '' */
.harmony-icon-picture:before { content: '\e80a'; } /* '' */
.harmony-icon-camera:before { content: '\e80b'; } /* '' */
.harmony-icon-th-large:before { content: '\e80c'; } /* '' */
.harmony-icon-tags:before { content: '\e80d'; } /* '' */
.harmony-icon-fire:before { content: '\e80e'; } /* '' */
.harmony-icon-chart-line-1:before { content: '\e80f'; } /* '' */
.harmony-icon-target:before { content: '\e810'; } /* '' */
.harmony-icon-cancel-alt:before { content: '\e811'; } /* '' */
.harmony-icon-th-list:before { content: '\e812'; } /* '' */
.harmony-icon-th:before { content: '\e813'; } /* '' */
.harmony-icon-plus-circled:before { content: '\e814'; } /* '' */
.harmony-icon-minus:before { content: '\e815'; } /* '' */
.harmony-icon-minus-circled:before { content: '\e816'; } /* '' */
.harmony-icon-info-circled:before { content: '\e817'; } /* '' */
.harmony-icon-home:before { content: '\e818'; } /* '' */
.harmony-icon-link:before { content: '\e819'; } /* '' */
.harmony-icon-attach:before { content: '\e81a'; } /* '' */
.harmony-icon-pin:before { content: '\e81b'; } /* '' */
.harmony-icon-plus:before { content: '\e81c'; } /* '' */
.harmony-icon-cancel-alt-filled:before { content: '\e81d'; } /* '' */
.harmony-icon-tag:before { content: '\e81e'; } /* '' */
.harmony-icon-bookmark:before { content: '\e81f'; } /* '' */
.harmony-icon-download:before { content: '\e820'; } /* '' */
.harmony-icon-upload:before { content: '\e821'; } /* '' */
.harmony-icon-comment:before { content: '\e822'; } /* '' */
.harmony-icon-print:before { content: '\e823'; } /* '' */
.harmony-icon-edit:before { content: '\e824'; } /* '' */
.harmony-icon-chat:before { content: '\e825'; } /* '' */
.harmony-icon-export:before { content: '\e826'; } /* '' */
.harmony-icon-forward:before { content: '\e827'; } /* '' */
.harmony-icon-thumbs-down:before { content: '\e828'; } /* '' */
.harmony-icon-thumbs-up:before { content: '\e829'; } /* '' */
.harmony-icon-bell:before { content: '\e82a'; } /* '' */
.harmony-icon-attention-circled:before { content: '\e82b'; } /* '' */
.harmony-icon-location:before { content: '\e82c'; } /* '' */
.harmony-icon-trash-empty:before { content: '\e82d'; } /* '' */
.harmony-icon-doc:before { content: '\e82e'; } /* '' */
.harmony-icon-folder:before { content: '\e82f'; } /* '' */
.harmony-icon-folder-open:before { content: '\e830'; } /* '' */
.harmony-icon-attention:before { content: '\e831'; } /* '' */
.harmony-icon-spin3:before { content: '\e832'; } /* '' */
.harmony-icon-phone:before { content: '\e833'; } /* '' */
.harmony-icon-logout:before { content: '\e834'; } /* '' */
.harmony-icon-volume-off:before { content: '\e835'; } /* '' */
.harmony-icon-block:before { content: '\e836'; } /* '' */
.harmony-icon-resize-full-1:before { content: '\e837'; } /* '' */
.harmony-icon-spin5:before { content: '\e838'; } /* '' */
.harmony-icon-spin6:before { content: '\e839'; } /* '' */
.harmony-icon-login:before { content: '\e83a'; } /* '' */
.harmony-icon-calendar:before { content: '\e83b'; } /* '' */
.harmony-icon-basket:before { content: '\e83c'; } /* '' */
.harmony-icon-wrench:before { content: '\e83d'; } /* '' */
.harmony-icon-cog-alt:before { content: '\e83e'; } /* '' */
.harmony-icon-cog:before { content: '\e83f'; } /* '' */
.harmony-icon-firefox:before { content: '\e840'; } /* '' */
.harmony-icon-chrome:before { content: '\e841'; } /* '' */
.harmony-icon-opera:before { content: '\e842'; } /* '' */
.harmony-icon-ie:before { content: '\e843'; } /* '' */
.harmony-icon-resize-small:before { content: '\e844'; } /* '' */
.harmony-icon-resize-full:before { content: '\e845'; } /* '' */
.harmony-icon-resize-vertical:before { content: '\e846'; } /* '' */
.harmony-icon-resize-horizontal:before { content: '\e847'; } /* '' */
.harmony-icon-zoom-in:before { content: '\e848'; } /* '' */
.harmony-icon-zoom-out:before { content: '\e849'; } /* '' */
.harmony-icon-left-big:before { content: '\e84a'; } /* '' */
.harmony-icon-right-big:before { content: '\e84b'; } /* '' */
.harmony-icon-up-big:before { content: '\e84c'; } /* '' */
.harmony-icon-down-big:before { content: '\e84d'; } /* '' */
.harmony-icon-up-open:before { content: '\e84e'; } /* '' */
.harmony-icon-right-open:before { content: '\e84f'; } /* '' */
.harmony-icon-left-open:before { content: '\e850'; } /* '' */
.harmony-icon-down-open:before { content: '\e851'; } /* '' */
.harmony-icon-right-dir:before { content: '\e852'; } /* '' */
.harmony-icon-left-dir:before { content: '\e853'; } /* '' */
.harmony-icon-up-dir:before { content: '\e854'; } /* '' */
.harmony-icon-down-dir:before { content: '\e855'; } /* '' */
.harmony-icon-up-circled2:before { content: '\e856'; } /* '' */
.harmony-icon-down-circled2:before { content: '\e857'; } /* '' */
.harmony-icon-shuffle:before { content: '\e858'; } /* '' */
.harmony-icon-ccw-1:before { content: '\e859'; } /* '' */
.harmony-icon-ccw:before { content: '\e85a'; } /* '' */
.harmony-icon-cw:before { content: '\e85b'; } /* '' */
.harmony-icon-down-hand:before { content: '\e85c'; } /* '' */
.harmony-icon-up-hand:before { content: '\e85d'; } /* '' */
.harmony-icon-left-hand:before { content: '\e85e'; } /* '' */
.harmony-icon-right-hand:before { content: '\e85f'; } /* '' */
.harmony-icon-cw-1:before { content: '\e860'; } /* '' */
.harmony-icon-arrows-ccw:before { content: '\e861'; } /* '' */
.harmony-icon-play-outline:before { content: '\e862'; } /* '' */
.harmony-icon-level-down-1:before { content: '\e863'; } /* '' */
.harmony-icon-level-up-1:before { content: '\e864'; } /* '' */
.harmony-icon-shuffle-1:before { content: '\e865'; } /* '' */
.harmony-icon-loop:before { content: '\e866'; } /* '' */
.harmony-icon-eject-alt:before { content: '\e867'; } /* '' */
.harmony-icon-play:before { content: '\e868'; } /* '' */
.harmony-icon-wifi-1:before { content: '\e869'; } /* '' */
.harmony-icon-leaf:before { content: '\e86a'; } /* '' */
.harmony-icon-cloud:before { content: '\e86b'; } /* '' */
.harmony-icon-inbox:before { content: '\e86c'; } /* '' */
.harmony-icon-signal:before { content: '\e86d'; } /* '' */
.harmony-icon-align-justify:before { content: '\e86e'; } /* '' */
.harmony-icon-scissors:before { content: '\e86f'; } /* '' */
.harmony-icon-briefcase:before { content: '\e870'; } /* '' */
.harmony-icon-off:before { content: '\e871'; } /* '' */
.harmony-icon-check:before { content: '\e872'; } /* '' */
.harmony-icon-truck:before { content: '\e873'; } /* '' */
.harmony-icon-phone-2:before { content: '\e874'; } /* '' */
.harmony-icon-floppy:before { content: '\e875'; } /* '' */
.harmony-icon-credit-card:before { content: '\e876'; } /* '' */
.harmony-icon-chart-bar:before { content: '\e877'; } /* '' */
.harmony-icon-gift:before { content: '\e878'; } /* '' */
.harmony-icon-hammer:before { content: '\e879'; } /* '' */
.harmony-icon-group:before { content: '\e87a'; } /* '' */
.harmony-icon-user:before { content: '\e87b'; } /* '' */
.harmony-icon-users:before { content: '\e87c'; } /* '' */
.harmony-icon-user-add:before { content: '\e87d'; } /* '' */
.harmony-icon-picture-2:before { content: '\e87e'; } /* '' */
.harmony-icon-menu-1:before { content: '\e87f'; } /* '' */
.harmony-icon-check-1:before { content: '\e880'; } /* '' */
.harmony-icon-asterisk:before { content: '\e881'; } /* '' */
.harmony-icon-cancel-circled-1:before { content: '\e882'; } /* '' */
.harmony-icon-cancel-squared:before { content: '\e883'; } /* '' */
.harmony-icon-plus-1:before { content: '\e884'; } /* '' */
.harmony-icon-plus-circled-1:before { content: '\e885'; } /* '' */
.harmony-icon-plus-squared-1:before { content: '\e886'; } /* '' */
.harmony-icon-minus-1:before { content: '\e887'; } /* '' */
.harmony-icon-minus-circled-1:before { content: '\e888'; } /* '' */
.harmony-icon-minus-squared-1:before { content: '\e889'; } /* '' */
.harmony-icon-help-1:before { content: '\e88a'; } /* '' */
.harmony-icon-help-circled-1:before { content: '\e88b'; } /* '' */
.harmony-icon-info-1:before { content: '\e88c'; } /* '' */
.harmony-icon-info-circled-1:before { content: '\e88d'; } /* '' */
.harmony-icon-alert:before { content: '\e88e'; } /* '' */
.harmony-icon-cancel-2:before { content: '\e88f'; } /* '' */
.harmony-icon-article-alt:before { content: '\e890'; } /* '' */
.harmony-icon-chat-1:before { content: '\e891'; } /* '' */
.harmony-icon-comment-1:before { content: '\e892'; } /* '' */
.harmony-icon-keyboard-1:before { content: '\e893'; } /* '' */
.harmony-icon-retweet:before { content: '\e894'; } /* '' */
.harmony-icon-feather:before { content: '\e895'; } /* '' */
.harmony-icon-lock-open:before { content: '\e896'; } /* '' */
.harmony-icon-lock-1:before { content: '\e897'; } /* '' */
.harmony-icon-comment-alt:before { content: '\e898'; } /* '' */
.harmony-icon-code-1:before { content: '\e899'; } /* '' */
.harmony-icon-quote-left-alt:before { content: '\e89a'; } /* '' */
.harmony-icon-forward-1:before { content: '\e89b'; } /* '' */
.harmony-icon-qrcode-1:before { content: '\e89c'; } /* '' */
.harmony-icon-quote-right-alt:before { content: '\e89d'; } /* '' */
.harmony-icon-code-2:before { content: '\e89e'; } /* '' */
.harmony-icon-link-1:before { content: '\e89f'; } /* '' */
.harmony-icon-doc-add:before { content: '\e8a0'; } /* '' */
.harmony-icon-compass:before { content: '\e8a1'; } /* '' */
.harmony-icon-folder-delete:before { content: '\e8a2'; } /* '' */
.harmony-icon-box-1:before { content: '\e8a3'; } /* '' */
.harmony-icon-book-open:before { content: '\e8a4'; } /* '' */
.harmony-icon-newspaper:before { content: '\e8a5'; } /* '' */
.harmony-icon-phone-1:before { content: '\e8a6'; } /* '' */
.harmony-icon-megaphone-1:before { content: '\e8a7'; } /* '' */
.harmony-icon-home-outline:before { content: '\e8a8'; } /* '' */
.harmony-icon-basket-1:before { content: '\e8a9'; } /* '' */
.harmony-icon-bag:before { content: '\e8aa'; } /* '' */
.harmony-icon-volume-off-1:before { content: '\e8ab'; } /* '' */
.harmony-icon-login-1:before { content: '\e8ac'; } /* '' */
.harmony-icon-adjust:before { content: '\e8ad'; } /* '' */
.harmony-icon-light-up:before { content: '\e8ae'; } /* '' */
.harmony-icon-clock-1:before { content: '\e8af'; } /* '' */
.harmony-icon-stop:before { content: '\e8b0'; } /* '' */
.harmony-icon-arrows-cw-1:before { content: '\e8b1'; } /* '' */
.harmony-icon-eye-1:before { content: '\e8b2'; } /* '' */
.harmony-icon-pause-1:before { content: '\e8b3'; } /* '' */
.harmony-icon-eye-off-1:before { content: '\e8b4'; } /* '' */
.harmony-icon-record:before { content: '\e8b5'; } /* '' */
.harmony-icon-to-end:before { content: '\e8b6'; } /* '' */
.harmony-icon-to-start:before { content: '\e8b7'; } /* '' */
.harmony-icon-fast-forward:before { content: '\e8b8'; } /* '' */
.harmony-icon-fast-backward:before { content: '\e8b9'; } /* '' */
.harmony-icon-progress-0:before { content: '\e8ba'; } /* '' */
.harmony-icon-dot-3:before { content: '\e8bb'; } /* '' */
.harmony-icon-dot-2:before { content: '\e8bc'; } /* '' */
.harmony-icon-pencil:before { content: '\e8bd'; } /* '' */
.harmony-icon-doc-remove:before { content: '\e8be'; } /* '' */
.harmony-icon-volume-down:before { content: '\e8bf'; } /* '' */
.harmony-icon-volume-up:before { content: '\e8c0'; } /* '' */
.harmony-icon-text-height:before { content: '\e8c1'; } /* '' */
.harmony-icon-text-width:before { content: '\e8c2'; } /* '' */
.harmony-icon-align-left:before { content: '\e8c3'; } /* '' */
.harmony-icon-align-center:before { content: '\e8c4'; } /* '' */
.harmony-icon-align-right:before { content: '\e8c5'; } /* '' */
.harmony-icon-paper-plane:before { content: '\e8c6'; } /* '' */
.harmony-icon-leaf-1:before { content: '\e8c7'; } /* '' */
.harmony-icon-install:before { content: '\e8c8'; } /* '' */
.harmony-icon-flash:before { content: '\e8c9'; } /* '' */
.harmony-icon-moon-inv:before { content: '\e8ca'; } /* '' */
.harmony-icon-mobile-1:before { content: '\e8cb'; } /* '' */
.harmony-icon-emo-happy:before { content: '\e8cc'; } /* '' */
.harmony-icon-emo-wink:before { content: '\e8cd'; } /* '' */
.harmony-icon-emo-wink2:before { content: '\e8ce'; } /* '' */
.harmony-icon-emo-unhappy:before { content: '\e8cf'; } /* '' */
.harmony-icon-emo-sleep:before { content: '\e8d0'; } /* '' */
.harmony-icon-emo-thumbsup:before { content: '\e8d1'; } /* '' */
.harmony-icon-monitor:before { content: '\e8d2'; } /* '' */
.harmony-icon-back-in-time:before { content: '\e8d3'; } /* '' */
.harmony-icon-signal-1:before { content: '\e8d4'; } /* '' */
.harmony-icon-clipboard:before { content: '\e8d5'; } /* '' */
.harmony-icon-ok-2:before { content: '\e8d6'; } /* '' */
.harmony-icon-emo-angry:before { content: '\e8d7'; } /* '' */
.harmony-icon-floppy-1:before { content: '\e8d8'; } /* '' */
.harmony-icon-check-2:before { content: '\e8d9'; } /* '' */
.harmony-icon-ok-outline:before { content: '\e8da'; } /* '' */
.harmony-icon-th-list-1:before { content: '\e8db'; } /* '' */
.harmony-icon-th-list-outline:before { content: '\e8dc'; } /* '' */
.harmony-icon-emo-coffee:before { content: '\e8dd'; } /* '' */
.harmony-icon-music:before { content: '\e8de'; } /* '' */
.harmony-icon-spin4:before { content: '\e8df'; } /* '' */
.harmony-icon-archive:before { content: '\e8e0'; } /* '' */
.harmony-icon-th-large-1:before { content: '\e8e1'; } /* '' */
.harmony-icon-th-large-outline:before { content: '\e8e2'; } /* '' */
.harmony-icon-th-1:before { content: '\e8e3'; } /* '' */
.harmony-icon-infinity:before { content: '\e8e4'; } /* '' */
.harmony-icon-th-outline:before { content: '\e8e5'; } /* '' */
.harmony-icon-cancel-outline:before { content: '\e8e6'; } /* '' */
.harmony-icon-plus-outline:before { content: '\e8e7'; } /* '' */
.harmony-icon-plus-2:before { content: '\e8e8'; } /* '' */
.harmony-icon-cancel-1:before { content: '\e8e9'; } /* '' */
.harmony-icon-address:before { content: '\e8ea'; } /* '' */
.harmony-icon-folder-add:before { content: '\e8eb'; } /* '' */
.harmony-icon-arrow-combo:before { content: '\e8ec'; } /* '' */
.harmony-icon-gift-1:before { content: '\e8ed'; } /* '' */
.harmony-icon-cancel:before { content: '\e8ee'; } /* '' */
.harmony-icon-basket-3:before { content: '\e8ef'; } /* '' */
.harmony-icon-chat-alt:before { content: '\e8f0'; } /* '' */
.harmony-icon-reply-outline:before { content: '\e8f1'; } /* '' */
.harmony-icon-reply-2:before { content: '\e8f2'; } /* '' */
.harmony-icon-forward-outline:before { content: '\e8f3'; } /* '' */
.harmony-icon-forward-2:before { content: '\e8f4'; } /* '' */
.harmony-icon-rss-2:before { content: '\e8f5'; } /* '' */
.harmony-icon-mic-2:before { content: '\e8f6'; } /* '' */
.harmony-icon-mic-outline:before { content: '\e8f7'; } /* '' */
.harmony-icon-globe-alt:before { content: '\e8f8'; } /* '' */
.harmony-icon-globe-alt-outline:before { content: '\e8f9'; } /* '' */
.harmony-icon-umbrella:before { content: '\e8fa'; } /* '' */
.harmony-icon-money-1:before { content: '\e8fb'; } /* '' */
.harmony-icon-sort-numeric-outline:before { content: '\e8fc'; } /* '' */
.harmony-icon-sort-numeric:before { content: '\e8fd'; } /* '' */
.harmony-icon-emo-cry:before { content: '\e8fe'; } /* '' */
.harmony-icon-code-outline:before { content: '\e8ff'; } /* '' */
.harmony-icon-share-1:before { content: '\e900'; } /* '' */
.harmony-icon-ok-circle:before { content: '\e901'; } /* '' */
.harmony-icon-clock-2:before { content: '\e902'; } /* '' */
.harmony-icon-emo-shoot:before { content: '\e903'; } /* '' */
.harmony-icon-cancel-circled-outline:before { content: '\e904'; } /* '' */
.harmony-icon-cancel-circled:before { content: '\e905'; } /* '' */
.harmony-icon-crown-plus:before { content: '\e906'; } /* '' */
.harmony-icon-key:before { content: '\e907'; } /* '' */
.harmony-icon-ok-circled2-1:before { content: '\e908'; } /* '' */
.harmony-icon-lkdto:before { content: '\e909'; } /* '' */
.harmony-icon-split:before { content: '\e90a'; } /* '' */
.harmony-icon-certificate:before { content: '\e90b'; } /* '' */
.harmony-icon-facebook-circled-1:before { content: '\e90c'; } /* '' */
.harmony-icon-video:before { content: '\e90d'; } /* '' */
.harmony-icon-video-1:before { content: '\e90e'; } /* '' */
.harmony-icon-spin2:before { content: '\e90f'; } /* '' */
.harmony-icon-spin1:before { content: '\e910'; } /* '' */
.harmony-icon-basket-2:before { content: '\e911'; } /* '' */
.harmony-icon-basket-alt:before { content: '\e912'; } /* '' */
.harmony-icon-crown-minus:before { content: '\e913'; } /* '' */
.harmony-icon-emo-grin:before { content: '\e914'; } /* '' */
.harmony-icon-emo-saint:before { content: '\e915'; } /* '' */
.harmony-icon-emo-squint:before { content: '\e916'; } /* '' */
.harmony-icon-emo-laugh:before { content: '\e917'; } /* '' */
.harmony-icon-crown:before { content: '\e918'; } /* '' */
.harmony-icon-emo-sunglasses:before { content: '\e919'; } /* '' */
.harmony-icon-emo-displeased:before { content: '\e91a'; } /* '' */
.harmony-icon-emo-tongue:before { content: '\e91b'; } /* '' */
.harmony-icon-emo-surprised:before { content: '\e91c'; } /* '' */
.harmony-icon-emo-devil:before { content: '\e91d'; } /* '' */
.harmony-icon-home-2:before { content: '\e91e'; } /* '' */
.harmony-icon-home-1:before { content: '\e91f'; } /* '' */
.harmony-icon-linkedin-circled-1:before { content: '\e920'; } /* '' */
.harmony-icon-link-2:before { content: '\e921'; } /* '' */
.harmony-icon-pin-1:before { content: '\e922'; } /* '' */
.harmony-icon-pin-outline:before { content: '\e923'; } /* '' */
.harmony-icon-flag:before { content: '\e924'; } /* '' */
.harmony-icon-logout-1:before { content: '\e925'; } /* '' */
.harmony-icon-barcode:before { content: '\e926'; } /* '' */
.harmony-icon-book:before { content: '\e927'; } /* '' */
.harmony-icon-book-1:before { content: '\e928'; } /* '' */
.harmony-icon-resize-small-alt:before { content: '\e929'; } /* '' */
.harmony-icon-down-open-1:before { content: '\e92a'; } /* '' */
.harmony-icon-left-open-1:before { content: '\e92b'; } /* '' */
.harmony-icon-right-open-1:before { content: '\e92c'; } /* '' */
.harmony-icon-up-open-1:before { content: '\e92d'; } /* '' */
.harmony-icon-down-open-mini:before { content: '\e92e'; } /* '' */
.harmony-icon-left-open-mini:before { content: '\e92f'; } /* '' */
.harmony-icon-right-open-mini:before { content: '\e930'; } /* '' */
.harmony-icon-up-open-mini:before { content: '\e931'; } /* '' */
.harmony-icon-down-open-big:before { content: '\e932'; } /* '' */
.harmony-icon-left-open-big:before { content: '\e933'; } /* '' */
.harmony-icon-right-open-big:before { content: '\e934'; } /* '' */
.harmony-icon-up-open-big:before { content: '\e935'; } /* '' */
.harmony-icon-down-small:before { content: '\e936'; } /* '' */
.harmony-icon-left-small:before { content: '\e937'; } /* '' */
.harmony-icon-right-small:before { content: '\e938'; } /* '' */
.harmony-icon-up-small:before { content: '\e939'; } /* '' */
.harmony-icon-stop-outline:before { content: '\e93a'; } /* '' */
.harmony-icon-pause-outline:before { content: '\e93b'; } /* '' */
.harmony-icon-fast-fw-outline:before { content: '\e93c'; } /* '' */
.harmony-icon-rewind-outline:before { content: '\e93d'; } /* '' */
.harmony-icon-record-outline:before { content: '\e93e'; } /* '' */
.harmony-icon-eject-alt-outline:before { content: '\e93f'; } /* '' */
.harmony-icon-exchange-1:before { content: '\e940'; } /* '' */
.harmony-icon-award:before { content: '\e941'; } /* '' */
.harmony-icon-award-1:before { content: '\e942'; } /* '' */
.harmony-icon-inbox-alt:before { content: '\e943'; } /* '' */
.harmony-icon-info-2:before { content: '\e944'; } /* '' */
.harmony-icon-info-outline:before { content: '\e945'; } /* '' */
.harmony-icon-flight:before { content: '\e946'; } /* '' */
.harmony-icon-font:before { content: '\e947'; } /* '' */
.harmony-icon-bold:before { content: '\e948'; } /* '' */
.harmony-icon-italic:before { content: '\e949'; } /* '' */
.harmony-icon-list:before { content: '\e94a'; } /* '' */
.harmony-icon-indent-left:before { content: '\e94b'; } /* '' */
.harmony-icon-indent-right:before { content: '\e94c'; } /* '' */
.harmony-icon-certificate-outline:before { content: '\e94d'; } /* '' */
.harmony-icon-gauge-1:before { content: '\e94e'; } /* '' */
.harmony-icon-googleplus-rect:before { content: '\e94f'; } /* '' */
.harmony-icon-emo-beer:before { content: '\e950'; } /* '' */
.harmony-icon-cancel-3:before { content: '\e951'; } /* '' */
.harmony-icon-popup:before { content: '\e952'; } /* '' */
.harmony-icon-flow-tree:before { content: '\e953'; } /* '' */
.harmony-icon-clipboard-1:before { content: '\e954'; } /* '' */
.harmony-icon-graduation-cap-1:before { content: '\e955'; } /* '' */
.harmony-icon-windows-1:before { content: '\e956'; } /* '' */
.harmony-icon-bitcoin-1:before { content: '\e957'; } /* '' */
.harmony-icon-headphones:before { content: '\e958'; } /* '' */
.harmony-icon-send:before { content: '\e959'; } /* '' */
.harmony-icon-menu-2:before { content: '\f008'; } /* '' */
.harmony-icon-globe:before { content: '\f018'; } /* '' */
.harmony-icon-globe-inv:before { content: '\f019'; } /* '' */
.harmony-icon-download-1:before { content: '\f02e'; } /* '' */
.harmony-icon-upload-1:before { content: '\f02f'; } /* '' */
.harmony-icon-move:before { content: '\f047'; } /* '' */
.harmony-icon-user-female:before { content: '\f063'; } /* '' */
.harmony-icon-attach-1:before { content: '\f06a'; } /* '' */
.harmony-icon-ok-circled-2:before { content: '\f06d'; } /* '' */
.harmony-icon-cancel-circled-2:before { content: '\f06e'; } /* '' */
.harmony-icon-lock-open-alt-1:before { content: '\f075'; } /* '' */
.harmony-icon-link-3:before { content: '\f07b'; } /* '' */
.harmony-icon-link-ext:before { content: '\f08e'; } /* '' */
.harmony-icon-check-empty:before { content: '\f096'; } /* '' */
.harmony-icon-bookmark-empty:before { content: '\f097'; } /* '' */
.harmony-icon-phone-squared:before { content: '\f098'; } /* '' */
.harmony-icon-twitter:before { content: '\f099'; } /* '' */
.harmony-icon-facebook:before { content: '\f09a'; } /* '' */
.harmony-icon-github-circled:before { content: '\f09b'; } /* '' */
.harmony-icon-rss:before { content: '\f09e'; } /* '' */
.harmony-icon-hdd:before { content: '\f0a0'; } /* '' */
.harmony-icon-left-circled:before { content: '\f0a8'; } /* '' */
.harmony-icon-right-circled:before { content: '\f0a9'; } /* '' */
.harmony-icon-up-circled:before { content: '\f0aa'; } /* '' */
.harmony-icon-down-circled:before { content: '\f0ab'; } /* '' */
.harmony-icon-tasks:before { content: '\f0ae'; } /* '' */
.harmony-icon-filter:before { content: '\f0b0'; } /* '' */
.harmony-icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.harmony-icon-docs:before { content: '\f0c5'; } /* '' */
.harmony-icon-menu:before { content: '\f0c9'; } /* '' */
.harmony-icon-list-bullet:before { content: '\f0ca'; } /* '' */
.harmony-icon-underline:before { content: '\f0cd'; } /* '' */
.harmony-icon-magic:before { content: '\f0d0'; } /* '' */
.harmony-icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.harmony-icon-gplus:before { content: '\f0d5'; } /* '' */
.harmony-icon-money:before { content: '\f0d6'; } /* '' */
.harmony-icon-columns:before { content: '\f0db'; } /* '' */
.harmony-icon-sort:before { content: '\f0dc'; } /* '' */
.harmony-icon-sort-down:before { content: '\f0dd'; } /* '' */
.harmony-icon-sort-up:before { content: '\f0de'; } /* '' */
.harmony-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.harmony-icon-gauge:before { content: '\f0e4'; } /* '' */
.harmony-icon-comment-empty:before { content: '\f0e5'; } /* '' */
.harmony-icon-chat-empty:before { content: '\f0e6'; } /* '' */
.harmony-icon-sitemap:before { content: '\f0e8'; } /* '' */
.harmony-icon-paste:before { content: '\f0ea'; } /* '' */
.harmony-icon-lightbulb:before { content: '\f0eb'; } /* '' */
.harmony-icon-exchange:before { content: '\f0ec'; } /* '' */
.harmony-icon-download-cloud:before { content: '\f0ed'; } /* '' */
.harmony-icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.harmony-icon-suitcase:before { content: '\f0f2'; } /* '' */
.harmony-icon-bell-alt:before { content: '\f0f3'; } /* '' */
.harmony-icon-coffee:before { content: '\f0f4'; } /* '' */
.harmony-icon-food:before { content: '\f0f5'; } /* '' */
.harmony-icon-doc-text:before { content: '\f0f6'; } /* '' */
.harmony-icon-building:before { content: '\f0f7'; } /* '' */
.harmony-icon-plus-squared:before { content: '\f0fe'; } /* '' */
.harmony-icon-angle-double-left:before { content: '\f100'; } /* '' */
.harmony-icon-angle-double-right:before { content: '\f101'; } /* '' */
.harmony-icon-angle-double-up:before { content: '\f102'; } /* '' */
.harmony-icon-angle-double-down:before { content: '\f103'; } /* '' */
.harmony-icon-angle-left:before { content: '\f104'; } /* '' */
.harmony-icon-angle-right:before { content: '\f105'; } /* '' */
.harmony-icon-angle-up:before { content: '\f106'; } /* '' */
.harmony-icon-angle-down:before { content: '\f107'; } /* '' */
.harmony-icon-desktop:before { content: '\f108'; } /* '' */
.harmony-icon-laptop:before { content: '\f109'; } /* '' */
.harmony-icon-tablet:before { content: '\f10a'; } /* '' */
.harmony-icon-circle-empty:before { content: '\f10c'; } /* '' */
.harmony-icon-quote-left:before { content: '\f10d'; } /* '' */
.harmony-icon-quote-right:before { content: '\f10e'; } /* '' */
.harmony-icon-circle:before { content: '\f111'; } /* '' */
.harmony-icon-reply:before { content: '\f112'; } /* '' */
.harmony-icon-github:before { content: '\f113'; } /* '' */
.harmony-icon-folder-empty:before { content: '\f114'; } /* '' */
.harmony-icon-folder-open-empty:before { content: '\f115'; } /* '' */
.harmony-icon-smile:before { content: '\f118'; } /* '' */
.harmony-icon-frown:before { content: '\f119'; } /* '' */
.harmony-icon-meh:before { content: '\f11a'; } /* '' */
.harmony-icon-keyboard:before { content: '\f11c'; } /* '' */
.harmony-icon-flag-empty:before { content: '\f11d'; } /* '' */
.harmony-icon-flag-checkered:before { content: '\f11e'; } /* '' */
.harmony-icon-terminal:before { content: '\f120'; } /* '' */
.harmony-icon-code:before { content: '\f121'; } /* '' */
.harmony-icon-reply-all:before { content: '\f122'; } /* '' */
.harmony-icon-star-half-alt:before { content: '\f123'; } /* '' */
.harmony-icon-direction:before { content: '\f124'; } /* '' */
.harmony-icon-crop:before { content: '\f125'; } /* '' */
.harmony-icon-fork:before { content: '\f126'; } /* '' */
.harmony-icon-unlink:before { content: '\f127'; } /* '' */
.harmony-icon-help:before { content: '\f128'; } /* '' */
.harmony-icon-info:before { content: '\f129'; } /* '' */
.harmony-icon-attention-alt:before { content: '\f12a'; } /* '' */
.harmony-icon-superscript:before { content: '\f12b'; } /* '' */
.harmony-icon-subscript:before { content: '\f12c'; } /* '' */
.harmony-icon-puzzle:before { content: '\f12e'; } /* '' */
.harmony-icon-mic:before { content: '\f130'; } /* '' */
.harmony-icon-mute:before { content: '\f131'; } /* '' */
.harmony-icon-shield:before { content: '\f132'; } /* '' */
.harmony-icon-calendar-empty:before { content: '\f133'; } /* '' */
.harmony-icon-angle-circled-left:before { content: '\f137'; } /* '' */
.harmony-icon-angle-circled-right:before { content: '\f138'; } /* '' */
.harmony-icon-angle-circled-up:before { content: '\f139'; } /* '' */
.harmony-icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.harmony-icon-html5:before { content: '\f13b'; } /* '' */
.harmony-icon-anchor:before { content: '\f13d'; } /* '' */
.harmony-icon-bullseye:before { content: '\f140'; } /* '' */
.harmony-icon-ellipsis:before { content: '\f141'; } /* '' */
.harmony-icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.harmony-icon-rss-squared:before { content: '\f143'; } /* '' */
.harmony-icon-ticket:before { content: '\f145'; } /* '' */
.harmony-icon-minus-squared:before { content: '\f146'; } /* '' */
.harmony-icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.harmony-icon-level-up:before { content: '\f148'; } /* '' */
.harmony-icon-level-down:before { content: '\f149'; } /* '' */
.harmony-icon-ok-squared:before { content: '\f14a'; } /* '' */
.harmony-icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.harmony-icon-export-alt:before { content: '\f14d'; } /* '' */
.harmony-icon-euro:before { content: '\f153'; } /* '' */
.harmony-icon-pound:before { content: '\f154'; } /* '' */
.harmony-icon-dollar:before { content: '\f155'; } /* '' */
.harmony-icon-rupee:before { content: '\f156'; } /* '' */
.harmony-icon-yen:before { content: '\f157'; } /* '' */
.harmony-icon-rouble:before { content: '\f158'; } /* '' */
.harmony-icon-won:before { content: '\f159'; } /* '' */
.harmony-icon-bitcoin:before { content: '\f15a'; } /* '' */
.harmony-icon-doc-inv:before { content: '\f15b'; } /* '' */
.harmony-icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.harmony-icon-sort-name-up:before { content: '\f15d'; } /* '' */
.harmony-icon-sort-name-down:before { content: '\f15e'; } /* '' */
.harmony-icon-sort-alt-up:before { content: '\f160'; } /* '' */
.harmony-icon-sort-alt-down:before { content: '\f161'; } /* '' */
.harmony-icon-sort-number-up:before { content: '\f162'; } /* '' */
.harmony-icon-sort-number-down:before { content: '\f163'; } /* '' */
.harmony-icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.harmony-icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.harmony-icon-youtube:before { content: '\f167'; } /* '' */
.harmony-icon-youtube-play:before { content: '\f16a'; } /* '' */
.harmony-icon-instagram:before { content: '\f16d'; } /* '' */
.harmony-icon-tumblr:before { content: '\f173'; } /* '' */
.harmony-icon-tumblr-squared:before { content: '\f174'; } /* '' */
.harmony-icon-down:before { content: '\f175'; } /* '' */
.harmony-icon-up:before { content: '\f176'; } /* '' */
.harmony-icon-left:before { content: '\f177'; } /* '' */
.harmony-icon-right:before { content: '\f178'; } /* '' */
.harmony-icon-apple:before { content: '\f179'; } /* '' */
.harmony-icon-windows:before { content: '\f17a'; } /* '' */
.harmony-icon-android:before { content: '\f17b'; } /* '' */
.harmony-icon-trello:before { content: '\f181'; } /* '' */
.harmony-icon-female:before { content: '\f182'; } /* '' */
.harmony-icon-male:before { content: '\f183'; } /* '' */
.harmony-icon-sun:before { content: '\f185'; } /* '' */
.harmony-icon-moon:before { content: '\f186'; } /* '' */
.harmony-icon-box:before { content: '\f187'; } /* '' */
.harmony-icon-right-circled2:before { content: '\f18e'; } /* '' */
.harmony-icon-left-circled2:before { content: '\f190'; } /* '' */
.harmony-icon-wheelchair:before { content: '\f193'; } /* '' */
.harmony-icon-try:before { content: '\f195'; } /* '' */
.harmony-icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.harmony-icon-slack:before { content: '\f198'; } /* '' */
.harmony-icon-bank:before { content: '\f19c'; } /* '' */
.harmony-icon-graduation-cap:before { content: '\f19d'; } /* '' */
.harmony-icon-language:before { content: '\f1ab'; } /* '' */
.harmony-icon-fax:before { content: '\f1ac'; } /* '' */
.harmony-icon-building-filled:before { content: '\f1ad'; } /* '' */
.harmony-icon-recycle:before { content: '\f1b8'; } /* '' */
.harmony-icon-database-1:before { content: '\f1c0'; } /* '' */
.harmony-icon-file-pdf:before { content: '\f1c1'; } /* '' */
.harmony-icon-file-word:before { content: '\f1c2'; } /* '' */
.harmony-icon-file-excel:before { content: '\f1c3'; } /* '' */
.harmony-icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.harmony-icon-file-image:before { content: '\f1c5'; } /* '' */
.harmony-icon-file-archive:before { content: '\f1c6'; } /* '' */
.harmony-icon-file-audio:before { content: '\f1c7'; } /* '' */
.harmony-icon-file-video:before { content: '\f1c8'; } /* '' */
.harmony-icon-file-code:before { content: '\f1c9'; } /* '' */
.harmony-icon-jsfiddle:before { content: '\f1cc'; } /* '' */
.harmony-icon-git-squared:before { content: '\f1d2'; } /* '' */
.harmony-icon-git:before { content: '\f1d3'; } /* '' */
.harmony-icon-wechat:before { content: '\f1d7'; } /* '' */
.harmony-icon-history:before { content: '\f1da'; } /* '' */
.harmony-icon-header:before { content: '\f1dc'; } /* '' */
.harmony-icon-paragraph:before { content: '\f1dd'; } /* '' */
.harmony-icon-sliders:before { content: '\f1de'; } /* '' */
.harmony-icon-share:before { content: '\f1e0'; } /* '' */
.harmony-icon-share-squared:before { content: '\f1e1'; } /* '' */
.harmony-icon-slideshare:before { content: '\f1e7'; } /* '' */
.harmony-icon-calc:before { content: '\f1ec'; } /* '' */
.harmony-icon-cc-visa:before { content: '\f1f0'; } /* '' */
.harmony-icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.harmony-icon-bell-off:before { content: '\f1f6'; } /* '' */
.harmony-icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.harmony-icon-trash:before { content: '\f1f8'; } /* '' */
.harmony-icon-copyright:before { content: '\f1f9'; } /* '' */
.harmony-icon-at:before { content: '\f1fa'; } /* '' */
.harmony-icon-eyedropper:before { content: '\f1fb'; } /* '' */
.harmony-icon-chart-area:before { content: '\f1fe'; } /* '' */
.harmony-icon-chart-pie:before { content: '\f200'; } /* '' */
.harmony-icon-chart-line:before { content: '\f201'; } /* '' */
.harmony-icon-angellist:before { content: '\f209'; } /* '' */
.harmony-icon-shekel:before { content: '\f20b'; } /* '' */
.harmony-icon-forumbee:before { content: '\f211'; } /* '' */
.harmony-icon-cart-plus:before { content: '\f217'; } /* '' */
.harmony-icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.harmony-icon-diamond:before { content: '\f219'; } /* '' */
.harmony-icon-street-view:before { content: '\f21d'; } /* '' */
.harmony-icon-heartbeat:before { content: '\f21e'; } /* '' */
.harmony-icon-venus:before { content: '\f221'; } /* '' */
.harmony-icon-mars:before { content: '\f222'; } /* '' */
.harmony-icon-mercury:before { content: '\f223'; } /* '' */
.harmony-icon-transgender:before { content: '\f224'; } /* '' */
.harmony-icon-transgender-alt:before { content: '\f225'; } /* '' */
.harmony-icon-venus-double:before { content: '\f226'; } /* '' */
.harmony-icon-mars-double:before { content: '\f227'; } /* '' */
.harmony-icon-venus-mars:before { content: '\f228'; } /* '' */
.harmony-icon-mars-stroke:before { content: '\f229'; } /* '' */
.harmony-icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.harmony-icon-mars-stroke-h:before { content: '\f22b'; } /* '' */
.harmony-icon-neuter:before { content: '\f22c'; } /* '' */
.harmony-icon-facebook-official:before { content: '\f230'; } /* '' */
.harmony-icon-pinterest:before { content: '\f231'; } /* '' */
.harmony-icon-whatsapp:before { content: '\f232'; } /* '' */
.harmony-icon-viacoin:before { content: '\f237'; } /* '' */
.harmony-icon-battery-4:before { content: '\f240'; } /* '' */
.harmony-icon-battery-3:before { content: '\f241'; } /* '' */
.harmony-icon-battery-2:before { content: '\f242'; } /* '' */
.harmony-icon-battery-1:before { content: '\f243'; } /* '' */
.harmony-icon-battery-0:before { content: '\f244'; } /* '' */
.harmony-icon-mouse-pointer:before { content: '\f245'; } /* '' */
.harmony-icon-i-cursor:before { content: '\f246'; } /* '' */
.harmony-icon-object-ungroup:before { content: '\f248'; } /* '' */
.harmony-icon-clone:before { content: '\f24d'; } /* '' */
.harmony-icon-balance-scale:before { content: '\f24e'; } /* '' */
.harmony-icon-hourglass-o:before { content: '\f250'; } /* '' */
.harmony-icon-hourglass-2:before { content: '\f252'; } /* '' */
.harmony-icon-hourglass:before { content: '\f254'; } /* '' */
.harmony-icon-registered:before { content: '\f25d'; } /* '' */
.harmony-icon-creative-commons:before { content: '\f25e'; } /* '' */
.harmony-icon-tripadvisor:before { content: '\f262'; } /* '' */
.harmony-icon-get-pocket:before { content: '\f265'; } /* '' */
.harmony-icon-safari:before { content: '\f267'; } /* '' */
.harmony-icon-chrome-1:before { content: '\f268'; } /* '' */
.harmony-icon-firefox-1:before { content: '\f269'; } /* '' */
.harmony-icon-opera-1:before { content: '\f26a'; } /* '' */
.harmony-icon-internet-explorer:before { content: '\f26b'; } /* '' */
.harmony-icon-television:before { content: '\f26c'; } /* '' */
.harmony-icon-amazon:before { content: '\f270'; } /* '' */
.harmony-icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.harmony-icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.harmony-icon-calendar-times-o:before { content: '\f273'; } /* '' */
.harmony-icon-calendar-check-o:before { content: '\f274'; } /* '' */
.harmony-icon-map-pin:before { content: '\f276'; } /* '' */
.harmony-icon-map-signs:before { content: '\f277'; } /* '' */
.harmony-icon-map-o:before { content: '\f278'; } /* '' */
.harmony-icon-map:before { content: '\f279'; } /* '' */
.harmony-icon-commenting:before { content: '\f27a'; } /* '' */
.harmony-icon-commenting-o:before { content: '\f27b'; } /* '' */
.harmony-icon-reddit-alien:before { content: '\f281'; } /* '' */
.harmony-icon-edge:before { content: '\f282'; } /* '' */
.harmony-icon-credit-card-alt:before { content: '\f283'; } /* '' */
.harmony-icon-usb:before { content: '\f287'; } /* '' */
.harmony-icon-shopping-bag:before { content: '\f290'; } /* '' */
.harmony-icon-shopping-basket:before { content: '\f291'; } /* '' */
.harmony-icon-hashtag:before { content: '\f292'; } /* '' */
.harmony-icon-bluetooth:before { content: '\f293'; } /* '' */
.harmony-icon-bluetooth-b:before { content: '\f294'; } /* '' */
.harmony-icon-percent:before { content: '\f295'; } /* '' */
.harmony-icon-envira:before { content: '\f299'; } /* '' */
.harmony-icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.harmony-icon-snapchat:before { content: '\f2ab'; } /* '' */
.harmony-icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.harmony-icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.harmony-icon-handshake-o:before { content: '\f2b5'; } /* '' */
.harmony-icon-envelope-open:before { content: '\f2b6'; } /* '' */
.harmony-icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.harmony-icon-address-book:before { content: '\f2b9'; } /* '' */
.harmony-icon-address-book-o:before { content: '\f2ba'; } /* '' */
.harmony-icon-address-card:before { content: '\f2bb'; } /* '' */
.harmony-icon-address-card-o:before { content: '\f2bc'; } /* '' */
.harmony-icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.harmony-icon-telegram:before { content: '\f2c6'; } /* '' */
.harmony-icon-thermometer:before { content: '\f2c7'; } /* '' */
.harmony-icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.harmony-icon-microchip:before { content: '\f2db'; } /* '' */
.harmony-icon-github-squared:before { content: '\f300'; } /* '' */
.harmony-icon-twitter-squared:before { content: '\f304'; } /* '' */
.harmony-icon-facebook-squared:before { content: '\f308'; } /* '' */
.harmony-icon-twitter-circled:before { content: '\f30a'; } /* '' */
.harmony-icon-facebook-circled:before { content: '\f30d'; } /* '' */
.harmony-icon-tumblr-1:before { content: '\f315'; } /* '' */
.harmony-icon-linkedin-circled:before { content: '\f319'; } /* '' */
.harmony-icon-linkedin-2:before { content: '\f31a'; } /* '' */
.harmony-icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.harmony-icon-instagram-2:before { content: '\f31e'; } /* '' */
.harmony-icon-instagram-filled:before { content: '\f31f'; } /* '' */
.harmony-icon-win8:before { content: '\f325'; } /* '' */
.harmony-icon-dropbox-1:before { content: '\f330'; } /* '' */
.harmony-icon-lock-alt:before { content: '\f510'; } /* '' */
