@import url('../../Component/AllTemplate/allModal.css');
@import url('../../Component/Harmony-Menu/Harmony-menu.css');
@import url('../App/harmony_icon.css');

@import 'tailwindcss';

/* ----------------  Font ---------------- */

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-Light.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-Medium.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-Black.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-Bold.woff2') format('woff2');
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../../Fonts/peyad/PeydaWebFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Borna;
  font-weight: 200;
  src: url('../../Fonts/Borna/Borna-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Borna;
  font-weight: 400;
  src: url('../../Fonts/Borna/Borna-Regular.woff');
}

@font-face {
  font-display: swap;
  font-family: Borna;
  font-weight: 700;
  src: url('../../Fonts/Borna/Borna-Bold.woff') format('woff');
}

body {
  font-family: 'Peyda', sans-serif;
  direction: rtl;
  color: #303030;
}
html {
  scroll-behavior: smooth;
  unicode-bidi: plaintext;
}

/*font-style*/

.overflow-auto,
.overflow-scroll,
.overflow-x-auto,
.overflow-x-scroll,
.overflow-y-auto,
.overflow-y-scroll {
  scrollbar-color: #0000001a transparent;
}
.overflow-auto > *,
.overflow-scroll > *,
.overflow-x-auto > *,
.overflow-y-auto > * {
  scrollbar-color: auto;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: #6666661a;
  }
}

@theme {
  --color-theme-primary: var(--theme-primary);
  --color-theme-primary-100: var(--theme-primary-100);
  --color-theme-primary-900: var(--theme-primary-900);
  --color-theme-secondary: var(--theme-secondary);
  --color-theme-secondary-400: var(--theme-secondary-400);
  --font-borna: 'Borna', sans-serif;
  --shadow-theme-gray: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --drop-shadow-theme-xs: 2px 4px 8px rgba(0, 0, 0, 0.4);
  
}

:root {
  --theme-primary: #293897;
  --theme-primary-100: #e6f2ff;
  --theme-primary-900: #112b50;
  --theme-secondary: #fab130;
  --theme-secondary-400: #c7924c;
  --theme-linear-md: 0deg, #0ee15c 0%, #0eae49 100%;
}

@utility container {
  margin-inline: auto;
}

@media (max-width: 65rem) {
  .container {
    padding-inline: 1rem;
  }
}

@media (min-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}

.header_design::after {
  @apply absolute inset-y-0 bg-theme-primary -z-1 shadow-[-10px_0px_0px_#29389740] inset-e-[70%] lg:inset-e-[88%] inset-s-[-3000%] ;
  content: '';
  transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}

.clip-path-left {
  clip-path: polygon(0% 50%, 100% 100%, 0% 100%);
}

.clip-path-right {
  clip-path: polygon(100% 50%, 100% 100%, 0% 100%);
}

.shape_disgn {
  -webkit-mask-image: url(../../Images/design/Ellipse.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  -webkit-mask-size: contain;
  mask-image: url(../../Images/design/Ellipse.png);
  mask-repeat: no-repeat;
  mask-position: top center;
  mask-size: contain;
}

.section_design:after {
  @apply -z-1 inset-y-0 absolute bg-theme-primary-900 inset-s-0 inset-e-0 rounded-3xl hidden lg:block;
  content: '';

  -moz-transform: translate(-20%, 0px) skew(20deg, 0deg);
  -webkit-transform: translate(-20%, 0px) skew(20deg, 0deg);
  -o-transform: translate(-20%, 0px) skew(20deg, 0deg);
  -ms-transform: translate(-20%, 0px) skew(20deg, 0deg);
  transform: translate(-20%, 0px) skew(20deg, 0deg);
  
}

/* navigaton menu */

.menu_bar_bottom_home {
  @apply flex items-center justify-center mx-auto bg-white rounded-full;
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow:
    0 -16px 25px rgba(0, 0, 0, 0.05),
    7px 3px 12px rgba(0, 0, 0, 0.12) inset;
  box-shadow:
    0 -16px 25px rgba(0, 0, 0, 0.05) inset,
    7px 3px 12px rgba(0, 0, 0, 0.12) inset;
}

.menu-navigation {
  @apply fixed inset-x-0 bottom-0 py-2  bg-theme-primary-900 z-100 md:hidden rounded-t-2xl border-t-2 border-y-theme-primary-100;

}

/* navigaton menu */

/* socialmenu */
.menu_social {
  @apply lg:hidden fixed bottom-0 inset-x-0 bg-white rounded-t-3xl px-2 py-4 translate-y-full min-h-26 duration-300 z-9999;
}

.menu_social.showModal {
  @apply translate-y-0 shadow-[0_-10px_30px_rgba(0,0,0,0.12)];
}

/* endsocialmenu */